{{#each this}}
<li class="articles-item">
    <img src="{{urlToImage}}" alt="" width="350">
    <h2><a href="{{url}}" target="_blank" rel="noopener noreferrer" class="articles-title">{{title}} </a></h2>
    <p class="artcles-author">author:{{author}}</p>

</li>
{{/each}}